/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235) ;
}
body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
        }

article p:first-child{
	color: white;
            background-color: black;
            padding: 10px;
}
article p:nth-child(2){
	color:initial;
}

article p:last-child{
	color:red;
}

ul {
            list-style-type: none;
            padding-left: 0;
        }
        
        li {
            width: 50%;
            padding: 10px;
            margin-bottom: 5px;
            background-color: gray;
        }
        
        li:nth-child(odd) {
            background-color: white;
        }
        
        li:first-child, li:last-child {
            font-size: 22px;
        }
        
        li:nth-last-child(3) {
            background-color: pink;
        }